.HospitalList-item {
  margin-top: 10;
  margin-bottom: 10;
  border-radius: 8;
}

.HospitalList-item-selected {
  margin-top: 10;
  margin-bottom: 10;
  border-radius: 8;
  background-color: hsl(208, 61%, 86%);
}
