.HospitalList-item {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.HospitalList-item:hover {
  cursor: pointer;
}

.HospitalList-item-selected {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: hsl(208, 61%, 86%);
}

.HospitalList-item-selected:hover {
  cursor: pointer;
}

.ant-card-body {
  padding-left: 10px;
  padding-right: 10px;
}
