.SiderMenu-box {
  width: 60px;
  height: 60px;
  padding: 14px;
}

.SiderMenu-box:hover {
  cursor: pointer;
}

.SiderMenu-box-selected {
  width: 60px;
  height: 60px;
  padding: 14px;
  background-color: #108ee9;
  color: #fff;
}

.SiderMenu-box-selected:hover {
  cursor: pointer;
}

.SiderMenu-box-icon {
  font-size: 27px;
  color: #7F8391;
}

.SiderMenu-box-icon-selected {
  font-size: 27px;
  color: #fff;
}
