.student-search-container {
    text-align: center;
}

.student-search {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.student-search input {
    height: 33px;
    border-radius: 20px;
}
